TravelAgency/BL/Web References/HotelTSWebServices/SOAPHeaderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetHotels">
        <s:complexType />
      </s:element>
      <s:element name="GetHotelsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetHotelsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserCredentials" type="tns:UserCredentials" />
      <s:complexType name="UserCredentials">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="GetRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="hotelId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRoomResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableRooms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="hotelId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="roomId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="travelDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAvailableRoomsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAvailableRoomsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookRoom">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="roomId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="roomNumber" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="hotelId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="travelDate" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="isLocked" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="passengerSSN" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="updatedUser" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="BookRoomResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="BookRoomResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookedRooms">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="roomId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="travelDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBookedRoomsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBookedRoomsResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSlot">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bookId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="roomId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="hotelId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="travelDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSlotResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateSlotResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmSlot">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bId" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="paidAmount" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmSlotResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConfirmSlotResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSlot">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="bookId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteSlotResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteSlotResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetHotelsSoapIn">
    <wsdl:part name="parameters" element="tns:GetHotels" />
  </wsdl:message>
  <wsdl:message name="GetHotelsSoapOut">
    <wsdl:part name="parameters" element="tns:GetHotelsResponse" />
  </wsdl:message>
  <wsdl:message name="GetHotelsUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="GetRoomSoapIn">
    <wsdl:part name="parameters" element="tns:GetRoom" />
  </wsdl:message>
  <wsdl:message name="GetRoomSoapOut">
    <wsdl:part name="parameters" element="tns:GetRoomResponse" />
  </wsdl:message>
  <wsdl:message name="GetRoomUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="GetAvailableRoomsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAvailableRooms" />
  </wsdl:message>
  <wsdl:message name="GetAvailableRoomsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAvailableRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAvailableRoomsUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="BookRoomSoapIn">
    <wsdl:part name="parameters" element="tns:BookRoom" />
  </wsdl:message>
  <wsdl:message name="BookRoomSoapOut">
    <wsdl:part name="parameters" element="tns:BookRoomResponse" />
  </wsdl:message>
  <wsdl:message name="BookRoomUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="GetBookedRoomsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBookedRooms" />
  </wsdl:message>
  <wsdl:message name="GetBookedRoomsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBookedRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBookedRoomsUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="UpdateSlotSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSlot" />
  </wsdl:message>
  <wsdl:message name="UpdateSlotSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSlotResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSlotUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="ConfirmSlotSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmSlot" />
  </wsdl:message>
  <wsdl:message name="ConfirmSlotSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmSlotResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmSlotUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:message name="DeleteSlotSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteSlot" />
  </wsdl:message>
  <wsdl:message name="DeleteSlotSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteSlotResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteSlotUserCredentials">
    <wsdl:part name="UserCredentials" element="tns:UserCredentials" />
  </wsdl:message>
  <wsdl:portType name="TestService">
    <wsdl:operation name="GetHotels">
      <wsdl:input message="tns:GetHotelsSoapIn" />
      <wsdl:output message="tns:GetHotelsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <wsdl:input message="tns:GetRoomSoapIn" />
      <wsdl:output message="tns:GetRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableRooms">
      <wsdl:input message="tns:GetAvailableRoomsSoapIn" />
      <wsdl:output message="tns:GetAvailableRoomsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="BookRoom">
      <wsdl:input message="tns:BookRoomSoapIn" />
      <wsdl:output message="tns:BookRoomSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBookedRooms">
      <wsdl:input message="tns:GetBookedRoomsSoapIn" />
      <wsdl:output message="tns:GetBookedRoomsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSlot">
      <wsdl:input message="tns:UpdateSlotSoapIn" />
      <wsdl:output message="tns:UpdateSlotSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmSlot">
      <wsdl:input message="tns:ConfirmSlotSoapIn" />
      <wsdl:output message="tns:ConfirmSlotSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteSlot">
      <wsdl:input message="tns:DeleteSlotSoapIn" />
      <wsdl:output message="tns:DeleteSlotSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestService" type="tns:TestService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHotels">
      <soap:operation soapAction="http://tempuri.org/GetHotels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetHotelsUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <soap:operation soapAction="http://tempuri.org/GetRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetRoomUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableRooms">
      <soap:operation soapAction="http://tempuri.org/GetAvailableRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetAvailableRoomsUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookRoom">
      <soap:operation soapAction="http://tempuri.org/BookRoom" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:BookRoomUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookedRooms">
      <soap:operation soapAction="http://tempuri.org/GetBookedRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:GetBookedRoomsUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSlot">
      <soap:operation soapAction="http://tempuri.org/UpdateSlot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:UpdateSlotUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmSlot">
      <soap:operation soapAction="http://tempuri.org/ConfirmSlot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:ConfirmSlotUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSlot">
      <soap:operation soapAction="http://tempuri.org/DeleteSlot" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:DeleteSlotUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestService1" type="tns:TestService">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHotels">
      <soap12:operation soapAction="http://tempuri.org/GetHotels" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetHotelsUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRoom">
      <soap12:operation soapAction="http://tempuri.org/GetRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetRoomUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableRooms">
      <soap12:operation soapAction="http://tempuri.org/GetAvailableRooms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetAvailableRoomsUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BookRoom">
      <soap12:operation soapAction="http://tempuri.org/BookRoom" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:BookRoomUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBookedRooms">
      <soap12:operation soapAction="http://tempuri.org/GetBookedRooms" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:GetBookedRoomsUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSlot">
      <soap12:operation soapAction="http://tempuri.org/UpdateSlot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:UpdateSlotUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmSlot">
      <soap12:operation soapAction="http://tempuri.org/ConfirmSlot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:ConfirmSlotUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteSlot">
      <soap12:operation soapAction="http://tempuri.org/DeleteSlot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:DeleteSlotUserCredentials" part="UserCredentials" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SOAPHeaderService">
    <wsdl:port name="TestService" binding="tns:TestService">
      <soap:address location="http://localhost:43663/HotelTSWebServices/SOAPHeaderService.asmx" />
    </wsdl:port>
    <wsdl:port name="TestService1" binding="tns:TestService1">
      <soap12:address location="http://localhost:43663/HotelTSWebServices/SOAPHeaderService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>